// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');


// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//adminlte
@import '~admin-lte/build/scss/adminlte';

// fontawesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
.user {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-user);
  }
}
.twitter {
  @extend %fa-icon;
  @extend .fab;
  &:before {
    content: fa-content($fa-var-twitter);
  }
}